body{
    background-color: rgb(217, 248, 168);
    margin: 10px;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
    font-size: 56px;
    color: rgb(83, 39, 39);
    text-align: center;
    clear: both;
}
nav{
    display: block;
    margin: 10px;
    font-size: 20px;
    float: right;
    clear: both;
}
h2{
    clear: both;
}
section{
    clear: both;
}
a{
    display: inline-block;
    clear: both;
    margin-right: 15px;
}
a:hover{
    background-color: rgb(94, 179, 94);
    color: white;
}
a:focus{
    background-color: tomato;
    color: white;
}
div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    width: 33%;
    float: left;
    clear: right;
}
h2{
    color: rgb(0, 77, 0);
}